h3 Register
div(ng-show='error', class='alert alert-danger')
	strong {{error.message}}

form(ng-submit='register()')
	div(class='form-group')
		input(type='text', class='form-control', placeholder='username', ng-model='user.username')
	div(class='form-group')
		input(type='password', class='form-control', placeholder='password', ng-model='user.password')
	button(type='submit', class='btn btn-primary') Register
